# 评估
通常，我们可以通过实验测试对学习器的泛化错误进行评估故而做出选择。为此我们需要一个‘测试集’来测试学习器对新样本的判别能力，然后测试集上的“测试误差”作为泛化错误的近似。通常，我们假设测试样本也是从样本真实分布中独立同分布采样而得。
我们得到一个样本，即要训练，又要测试，怎么才能做到呢？答案是：通过对数据集进行适当的处理，从中产生出训练集和测试集。下面介绍几种常用的方法：

## 3.1 留出法
留出法(hold-out)直接将数据集划分为两个互斥的集合，其中一个作为训练集，另一个作为测试集。
### 3.1.1 单纯随机抽样
是指从总体N个单位中任意抽取n个单位作为样本，使每个可能的样本被抽中的概率相等的一种抽样方式。
接下来我们看随机分类的示例

In [73]:
import pandas as pd
import numpy as np

housing=pd.read_csv('datasets/housing/housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [74]:
def split_train_test(data, test_ratio):
    np.random.seed(42) # 决定是否采用相同起点
    shuffled_indics = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indics[:test_set_size]
    train_indices = shuffled_indics[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [75]:
train_set, test_set = split_train_test(housing, 0.2)
print(len(train_set), 'train + ', len(test_set), 'test')

16512 train +  4128 test

In [76]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND

还有一种方法，根据索引进行分类，决定是测试集还是训练集。通过计算

In [61]:
import hashlib

def test_set_check(identifier, test_ratio, hash):
    return hash(np.int64(identifier)).digest()[-1] < 256 * test_ratio

def split_train_test_by_id(data, test_ratio, id_column, hash=hashlib.md5):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio, hash))
    return data.loc[~in_test_set], data.loc[in_test_set]

housing_with_id = housing.reset_index() # adds an 'index' column
train_set, test_set = split_train_test_by_id(housing_with_id, 0.2, 'index')

In [62]:
train_set.sample(10)

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
18807,18807,-121.64,40.90,24.0,2237.0,434.0,834.0,318.0,1.7538,90300.0,INLAND
318,318,-122.19,37.76,38.0,1493.0,370.0,1144.0,351.0,0.7683,81800.0,NEAR BAY
16715,16715,-120.68,35.50,19.0,3369.0,673.0,1834.0,646.0,3.7672,173800.0,<1H OCEAN
3465,3465,-118.46,34.31,24.0,2920.0,601.0,1460.0,598.0,4.2708,218200.0,<1H OCEAN
10935,10935,-117.90,33.74,25.0,808.0,163.0,1066.0,189.0,4.7679,173100.0,<1H OCEAN
17496,17496,-119.80,34.43,27.0,3143.0,537.0,1760.0,570.0,4.6957,271500.0,NEAR OCEAN
14214,14214,-117.06,32.68,41.0,2665.0,515.0,1664.0,512.0,2.3750,113500.0,NEAR OCEAN
314,314,-122.19,37.76,41.0,921.0,207.0,522.0,159.0,1.2083,72500.0,NEAR BAY
11799,11799,-121.27,38.87,16.0,2094.0,358.0,1092.0,357.0,4.4769,191400.0,INLAND
20534,20534,-121.74,38.56,18.0,3960.0,1151.0,2248.0,1144.0,1.7257,179100.0,INLAND

In [63]:
hashlib.md5(housing_with_id['index'][1]).digest()[-1]

203

一般来说需要索引是独一无二的，本例数据集中没有这样的索引，其实也可以构造一个

In [64]:
housing_with_id['id'] = housing['longitude']*1000 + housing['latitude'] 
train_set, test_set = split_train_test_by_id(housing_with_id, 0.2, 'id')

In [69]:
train_set.sample(10)

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
1461,1461,-121.99,37.97,30.0,3320.0,589.0,1470.0,543.0,4.6071,184100.0,INLAND,-121952.03
1972,1972,-120.54,38.75,9.0,3006.0,540.0,1102.0,418.0,3.9812,136600.0,INLAND,-120501.25
6948,6948,-118.08,33.99,36.0,2024.0,590.0,2028.0,573.0,2.8152,163900.0,<1H OCEAN,-118046.01
14743,14743,-117.06,32.58,11.0,2879.0,679.0,2098.0,673.0,3.5125,142400.0,NEAR OCEAN,-117027.42
12485,12485,-121.48,38.58,42.0,1823.0,566.0,761.0,503.0,1.2450,137500.0,INLAND,-121441.42
14128,14128,-117.09,32.75,28.0,1220.0,391.0,1286.0,396.0,1.2286,105000.0,NEAR OCEAN,-117057.25
8300,8300,-118.14,33.76,50.0,914.0,167.0,322.0,165.0,4.7361,418800.0,NEAR OCEAN,-118106.24
5274,5274,-118.53,34.03,40.0,4350.0,763.0,1551.0,665.0,7.0318,500001.0,<1H OCEAN,-118495.97
17672,17672,-121.87,37.30,14.0,360.0,124.0,134.0,84.0,2.7411,112500.0,<1H OCEAN,-121832.70
12540,12540,-121.50,38.55,52.0,2784.0,455.0,957.0,448.0,5.6402,209800.0,INLAND,-121461.45

scikit-learn 提供了将数据集进行分割的方法，其中最简单一个是train_test_split

In [70]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

In [71]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND

### 3.1.2 分层抽样
分层抽样法也叫类型抽样法。它是从一个可以分成不同子总体（或称为层）的总体中，按规定的比例从不同层中随机抽取样品（个体）的方法。这种方法的优点是，样本的代表性比较好，抽样误差比较小。缺点是抽样手续较简单随机抽样还要繁杂些。定量调查中的分层抽样是一种卓越的概率抽样方式，在调查中经常被使用。
当目前为止，我们使用单纯抽样的留出法，如果样本数据足够大，则表现良好。因此当样本小的时候就会存在显著的采样偏差。
假设有人对你说平均收入对于预测平均房价是很重要的，你可以按收入进行分层，并按照比例从不同收入中随机抽取样本。记抽样后不改变主要性质。

In [83]:
housing['income_cat'] = np.ceil(housing['median_income']/1.5)
housing['income_cat'].where(housing['income_cat'] < 5, 5.0, inplace=True)

In [84]:
housing.income_cat.describe()

count    20640.000000
mean         3.006686
std          1.054618
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: income_cat, dtype: float64

In [93]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing['income_cat']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [94]:
list(split.split(housing, housing['income_cat']))

[(array([17606, 18632, 14650, ..., 13908, 11159, 15775]),
  array([ 5241, 10970, 20351, ...,  4019, 12107,  2398]))]

## 3.2 交叉验证法